<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{#if selectedGenre}}{{selectedGenre}}{{else}}All{{/if}} Movies <i data-feather="loader" class="spin hidden" id="spinner"></i></h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm" id="movie-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genres</th>
                <th>Average Rating</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    //get genre from the server-side render
    let selectedGenre = '{{selectedGenre}}';
    let url = '/rest/movies/' + (selectedGenre ? `byGenre/${selectedGenre}` : 'all');

    //call REST service and render table
    $(document).ready(function() {
        $('#spinner').removeClass('hidden');
        $.ajax(
            url,
            {
                success: (movies, textStatus, jqXHR) => {
                    let tbody = $('#movie-table tbody');
                    tbody.empty();
                    if(movies && movies.length) {
                        movies.forEach(movie => {
                            const genArray = movie.genres.split('|');
                            const gen = genArray.length > 0 ? genArray.map(genre =>
                            `<span class="badge badge-pill badge-dark">${genre}</span>`
                            ) : '';                     
                            tbody.append(`<tr>
                                <td>
                                  <a class="" href="/rest/movie/${movie.id}">
                                  <span data-feather="star"></span>
                                  ${movie.title}
                                   </a>
                                </td>
                                <td>${gen}</td>
                                <td id="rating-td">${movie.averageRating}</td>
                            </tr>`);
                        });
                    }
                },
                complete: () => {
                    $('#spinner').addClass('hidden');
                }
            }
        );
    });
</script>
